<div class="container">
    <div class="row">
        <div class="col l4 m6 s12" *ngFor="let filme of filmeList">
            <div class="container">
                <div class="card hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator tamanho-img" [src]="filme.img" *ngIf="filme.img">
                        <img class="activator tamanho-img" src="https://user-images.githubusercontent.com/14126452/248482484-a803cd2e-4ae0-465c-9cad-2be47bacb262.gif" *ngIf="!filme.img">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">
                            <i class="tiny material-icons left" *ngIf="filme.assistido" style="margin-right: 2px;">star</i>
                            <i class="tiny material-icons left" *ngIf="!filme.assistido" style="margin-right: 2px;">star_border</i>
                            {{filme.titulo | ucwords}}<i class="material-icons right">more_vert</i>
                            
                            <p style="text-align: left; font-size: 11px;">
                                {{filme.genero.join('/')}} | {{filme.ano}} | {{filme.pais.join('/')}}
                            </p>
                            <img class="classificacao-indicativa" *ngIf="filme.classificacao == 0"  src="https://user-images.githubusercontent.com/14126452/248482575-820ef066-e8e0-4779-b785-a74070d59c43.png">
                            <img class="classificacao-indicativa" *ngIf="filme.classificacao == 10" src="https://user-images.githubusercontent.com/14126452/248482578-c6325644-9153-46e2-8e51-c85732116b05.png">
                            <img class="classificacao-indicativa" *ngIf="filme.classificacao == 12" src="https://user-images.githubusercontent.com/14126452/248482581-627d2dc0-6d27-4835-9014-233294cdbea9.png">
                            <img class="classificacao-indicativa" *ngIf="filme.classificacao == 14" src="https://user-images.githubusercontent.com/14126452/248482583-2d91a93d-99a1-440a-9e5d-4a9ca57d3912.png">
                            <img class="classificacao-indicativa" *ngIf="filme.classificacao == 16" src="https://user-images.githubusercontent.com/14126452/248482585-08a799d9-0524-45b4-ab0b-6f2373cc573b.png">
                            <img class="classificacao-indicativa" *ngIf="filme.classificacao == 18" src="https://user-images.githubusercontent.com/14126452/248482571-fa5f3134-c6d0-4280-afaf-cf081169bfb3.png">
                            
                        </span>
                        <p style="text-align: right; font-size: 12px;"><a [routerLink]="['/filme', filme.id]">Editar</a> | <a [routerLink]="['']" (click)="onConfirmDelete([filme.id])">Deletar</a></p>
                    </div>
                    <div class="card-reveal">
                        <i class="tiny material-icons left" style="margin-top: 5px;" *ngIf="filme.assistido">star</i>
                        <i class="tiny material-icons left" style="margin-top: 5px;" *ngIf="!filme.assistido">star_border</i>
                        <span class="card-title grey-text text-darken-4">{{filme.titulo | ucwords}}<i class="material-icons right">close</i></span>
                        <p style="text-align: justify; font-size: 13px;">{{filme.sinopse}}</p>
                        <p style="text-align: left; font-size: 12px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">

                            {{filme.genero.join('/')}} | {{filme.ano}} | {{filme.pais.join('/')}}
                        </p>
                        <p style="text-align: right; font-size: xx-small;" *ngIf="!filme.updatedAt">Criação: {{filme.createdAt | date: 'd/M/yyyy h:mm:a'}}</p>
                        <p style="text-align: right; font-size: xx-small;" *ngIf="filme.updatedAt">Atualização: {{filme.updatedAt | date: 'd/M/yyyy h:mm:a'}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>