<footer class="page-footer cor-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text right-align">Projetos</h5>
                <ul class="right-align">
                <li><a class="grey-text text-lighten-3" href="https://www.figma.com/file/2cBVARLstxEGbgZ9cu9TAY/controle-filmes-series-app?type=design&node-id=5%3A256&t=oWoEzQrbs9XCnY8e-1" target="_blank">Protótipo de Telas</a></li>
                <li><a class="grey-text text-lighten-3" href="https://github.com/ricardoas30/controle-filmes-series-app" target="_blank">Github do Projeto</a></li>
                <li><a class="grey-text text-lighten-3" href="https://getbootstrap.com/docs/5.2/getting-started/introduction/" target="_blank">Bootstrap v5.2</a></li>
                <li><a class="grey-text text-lighten-3" href="https://materializecss.com/" target="_blank">Materialize Bootstrap</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright center-align">
        <div class="container">
            © 2014 Copyright Text
            <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
        </div>
    </div>
</footer>