<div class="navbar-fixed">
    <nav class="cor-menu">
        
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <div class="container nav-wrapper hide-on-small-only hide-on-med-only">
            <a [routerLink]="[dados.home.url]" class="brand-logo left" style="font-size: large;">{{dados.titulo}}
                <i class="large material-icons">home</i>
            </a>
            
            <ul class="right hide-on-med-and-down">
                <li><a [routerLink]="[dados.home.url]">{{dados.home.nome}}</a></li>
                <li><a [routerLink]="[dados.cadastrar.url]">{{dados.cadastrar.nome}}</a></li>
                <li><a [routerLink]="[dados.sobre.url]">{{dados.sobre.nome}}</a></li>
                
            </ul>
        </div>
    </nav>
</div>