<div class="navbar-fixed">
    <nav class="teal lighten-1">
        
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>

        <!-- Título da aplicação para dispositivo móvel celular -->
        <div class="container nav-wrapper hide-on-large-only hide-on-med-only">
            <a [routerLink]="[dados.home.url]" class="brand-logo center" style="font-size: large;">{{dados.titulo}}
                <i class="large material-icons">home</i>
            </a>
        </div>
        <!-- Fim -->

        <!-- Título da aplicação para dispositivo móvel tablet -->
        <div class="container nav-wrapper hide-on-large-only hide-on-small-only">
            <a [routerLink]="[dados.home.url]" class="brand-logo left" style="font-size: large;">{{dados.titulo}}
                <i class="large material-icons">home</i>
            </a>
        </div>
        <!-- Fim -->

        <!-- Título da aplicação para desktop -->
        <div class="container nav-wrapper hide-on-small-only hide-on-med-only">
            <a [routerLink]="[dados.home.url]" class="brand-logo left" style="font-size: large;">{{dados.titulo}}
                <i class="large material-icons">home</i>
            </a>
            
            <ul class="right hide-on-med-and-down" *ngIf="this.loggedIn">
                <li><a [routerLink]="[dados.home.url]">{{dados.home.nome}}</a></li>
                <li><a [routerLink]="[dados.cadastrar.url]">{{dados.cadastrar.nome}}</a></li>
                <li><a [routerLink]="[dados.sobre.url]">{{dados.sobre.nome}}</a></li>
                <li><a (click)="onLogout()">Sair</a></li>
            </ul>
        </div>
        <!-- Fim -->
    </nav>
</div>