/* You can add global styles to this file, and also import other style files */
@import "~materialize-css/dist/css/materialize.css";
@import "~material-icons/iconfont/material-icons.css";

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
  }

/* Estilo carrosel */
.c-item {
    height: 480px;
}

.c-img {
    height: auto;
    object-fit: cover;
    filter: brightness(0.9);
}
/* Fim */