<div class="container">
  <div class="row">
      <div class="col s12 m12 s1">
        <div class="card horizontal">
          <div class="card-image">
            <img src="../../../assets/logo_utfpr.png">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <blockquote>
                <span class="black-text">
                  Este é um projeto final da disciplina de frameworks web na linguagem em Angular, do curso
                  de especialização em linguagem Java da UTFPR - Universidade Téc. Fed. do Paraná.
  
                  Esta aplicação tem como objetivo de efetuar o cadastro, alteração, deleção e informar se foram <em>assistidos</em>. 
                  O usuário terá seus filmes e séries listados e poderá controlar os que foram assistidos.
  
                  O projeto encontra-se atualmente em fase de desenvolvimento e poderá ser acompanhado pelo repositório
                  github já compartilhado.
                </span>
              </blockquote>
            </div>
            <!-- <div class="card-action">
              <a href="#">This is a link</a>
            </div> -->
          </div>
        </div>
      </div>
  </div>
</div>

