<div class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="col l4 m6 pull-m3 s12">
          <!-- Conteudo coluna 1 aqui -->
        </div>
        <div class="col l4 m6 pull-m3 s12">
          <!-- Conteudo coluna 2 aqui -->
            <div class="card hoverable">
              <div class="card-image">
                <img class="responsive-img" src="../../../assets/logo_utfpr.png">
              </div>
              <div class="card-stacked">
                <div class="card-content">
                  <blockquote>
                    <p class="black-text" style="text-align: justify; font-size: small; font-family: monospace;">
                      Este é o projeto final de disciplina de frameworks web, do curso de especialização em linguagem 
                      de programação Java da Universidade Téc. Fed. do Paraná (UTFPR). <br><br> Esta aplicação tem o objetivo 
                      de efetuar o CRUD e selecionar filmes assistidos. O usuário terá seus filmes e séries listados e 
                      poderá controlar os que foram assistidos. O projeto encontra-se atualmente em fase de desenvolvimento 
                      e poderá ser acompanhado pelo repositório github do projeto.
                    </p>
                  </blockquote>
                </div>
                <!-- <div class="card-action center-align">
                  <a href="#">github</a>
                </div> -->
              </div>
            </div>
        </div>
        <div class="col l4 m6 pull-m3 s12">
          <!-- Conteudo coluna 3 aqui -->
        </div>
    </div>
</div>

