<app-sobre-item descricao="Este é o projeto final de disciplina de frameworks web, do curso de especialização em 
                           linguagem de programação Java da Universidade Téc. Fed. do Paraná (UTFPR). Esta aplicação 
                           tem o objetivo de efetuar o CRUD e selecionar filmes assistidos. O usuário terá seus 
                           filmes e séries listados e poderá controlar os que foram assistidos. O projeto 
                           encontra-se atualmente em fase de desenvolvimento e poderá ser acompanhado pelo 
                           repositório github do projeto."
                            
                imagem="../../../assets/logo_utfpr.png">
</app-sobre-item>
