<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
        <div class="container" style="margin-top: 150px;">
            <div class="row">
                <div class="col l6 push-l6 m6 push-m4 s12 push-s1">
                    <h1>Erro 404</h1>
                    <h1>Página não encontrada</h1>
                    <p style="margin-top: 20px;">A página que você está tentando acessar não existe.</p>
                    
                </div>
            </div>
            <div class="row">
                <div class="col l6 push-l6 m6 push-m4 s12 push-s1" style="margin-top: 30px;">
                    <a [routerLink]="['/home']">Voltar</a>
                </div>
            </div>
        </div>
    </body>
</html>
